@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "League Spartan", serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainbackground: hsl(222, 26%, 31%);
  --keypadbackground: hsl(223, 31%, 20%);
  --screenbackground: hsl(224, 36%, 15%);

  /* #### Keys */

  --delkeybackground: hsl(225, 21%, 49%);
  --delkeyshadow: hsl(224, 28%, 35%);

  --equalkey: hsl(6, 63%, 50%);
  --equalkeyshadow: hsl(6, 70%, 34%);

  --keybackground: hsl(30, 25%, 89%);
  --keyshadow: hsl(28, 16%, 65%);

  /* #### Text */

  --keypadtext: hsl(221, 14%, 31%);
  --screenkeytext: hsl(30, 25%, 89%);
}

/* Theme 2 */
[data-theme="dark"] {
  h2 {
    color: hsl(30, 25%, 89%);
  }
  h3 {
    color: hsl(30, 25%, 89%);
  }
  .input {
    color: hsl(30, 25%, 89%);
  }
}
[data-theme="light"] {
  /* #### Backgrounds */

  --mainbackground: hsl(0, 0%, 90%);
  --keypadbackground: hsl(26, 23%, 94%);
  --screenbackground: hsl(0, 0%, 93%);

  /* #### Keys */

  --delkeybackground: hsl(185, 42%, 37%);
  --delkeyshadow: hsl(185, 58%, 25%);

  --equalkey: hsl(25, 98%, 40%);
  --equalkeyshadow: hsl(6, 70%, 34%);

  --keybackground: hsl(45, 7%, 89%);
  --keyshadow: hsl(28, 16%, 65%);

  /* #### Text */

  --keypadtext: hsl(60, 10%, 19%);
  --screenkeytext: hsl(0, 0%, 100%);
}
[data-theme="purple"] {
  /* #### Backgrounds */

  --mainbackground: hsl(268, 75%, 9%);
  --keypadbackground: hsl(268, 71%, 12%);
  --screenbackground: hsl(268, 71%, 12%);

  /* #### Keys */

  --delkeybackground: hsl(281, 89%, 26%);
  --delkeyshadow: hsl(285, 91%, 52%);

  --equalkey: hsl(176, 100%, 44%);
  --equalkeyshadow: hsl(177, 92%, 70%);

  --keybackground: hsl(268, 47%, 21%);
  --keyshadow: hsl(290, 70%, 36%);

  /* #### Text */

  --keypadtext: hsl(52, 100%, 62%);
  --veryblue: hsl(198, 20%, 13%);
  --screenkeytext: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 30px;

  min-width: 320px;
  min-height: 100vh;
  background-color: var(--mainbackground);
}
.layout {
  background-color: var(--keypadbackground);
}
.input {
  background-color: var(--screenbackground);
  color: var(--keypadtext);
}
.reset {
  background-color: var(--delkeybackground);
  color: white;
}
.equal {
  background-color: var(--equalkey);
  color: white;
}

h3 {
  color: var(--keypadtext);
}
h2 {
  color: var(--keypadtext);
}
nav {
  color: var(--keypadtext);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  color: var(--keypadtext);
  background-color: var(--keybackground);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
}
.switch-toggle {
  float: left;
  background: #242729;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
}
.switch-toggle input + label {
  padding: 3px;
  float: left;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}
.switch-toggle input:checked + label {
  background: coral;
}
